<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<html><body>
<font color="white">
<p>2022.12.09 本站更新<BR />- 新增機器人指令: partybot add mdps/rdps <BR /> 召喚進戰類DPS或遠距類DPS</p>
<p>2022.12.01<BR />伺服器版本1.12,PATCH:1.9-安其拉之門</p>
<p>2022.10.11<BR />伺服器升級1.12,PATCH維持1.8。請玩家下載1.12主程式搭配才能遊玩</p>
<p>2022.08.05<BR />伺服器版本1.8-夢靨之龍上線。請玩家下載1.8主程式搭配才能遊玩</p>
<p>2022.06.18<BR />伺服器版本1.7-血神的興起上線。</p>
<p>2022.05.24<BR />等級上限完全開放。</p>
<p>2022.02.24<BR />等級上限開放至55。</p>
<p>2022.01.23<BR />伺服器版本1.6-攻陷黑翼之巢上線</p>
<p>2021.11.3<BR />1.等級上限開放至50。<BR />2.基於本服人數較少，現在起開放聯盟部落可以互通。<BR />3.榮譽遞減機制移除。<BR />4.專業技能上調至4</p>
<p>2021.9.7<BR />修復寵物法術書介面無法開啟問題，請重新下載PATCH-1更新檔。</p>
<p>2021.9.5<BR />版本1.5-戰鼓響起上線，請搭配本站專用機器人插件及patch-2更新檔已得到更佳的操作體驗。</p>
<p>2021.8.28<BR />修復1.7.1用戶端部落牛人/獸人出生地圖異常問題，請重新下載新的V4執行檔。</p>
<p>2021.8.25<BR />修復1.7.1用戶端安裝插件會導致遊戲出錯閃退問題，請重新下載新的執行檔。</p>
<p>2021.8.24<BR />伺服器支援用戶端已提升為1.7.1，請玩家使用1.7.1簡體用戶端並搭配本站專用台服更新檔。</p>
</font>
</body></html>
