<Files ~ "\.php$">
    Require all denied
</Files>
<Files ~ "\.phtml$">
    Require all denied
</Files>
<Files ~ "\.php3$">
    Require all denied
</Files>
<Files ~ "\.php6$">
    Require all denied
</Files>
<Files ~ "\.phps$">
    Require all denied
</Files>
<Files ~ "\.cgi$">
    Require all denied
</Files>
<Files ~ "\.exe$">
    Require all denied
</Files>
<Files ~ "\.pl$">
    Require all denied
</Files>
<Files ~ "\.asp$">
    Require all denied
</Files>
<Files ~ "\.shtml$">
    Require all denied
</Files>
<Files ~ "\.fcgi$">
    Require all denied
</Files>
<Files ~ "\.fpl$">
    Require all denied
</Files>
<Files ~ "\.jsp$">
    Require all denied
</Files>
<Files ~ "\.wml$">
    Require all denied
</Files>

<Files ~ "\.inc$">
    Require all denied
</Files>
<Files ~ "\.ini$">
    Require all denied
</Files>
<Files ~ "\.conf$">
    Require all denied
</Files>
<Files ~ "\.bin$">
    Require all denied
</Files>
<Files ~ "\.sh$">
    Require all denied
</Files>
<Files ~ "\.tpl$">
    Require all denied
</Files>
<Files ~ "\.php5$">
    Require all denied
</Files>
<Files ~ "\.php4$">
    Require all denied
</Files>
<Files ~ "\.php.gif$">
    Require all denied
</Files>
<Files ~ "\.php.jpg$">
    Require all denied
</Files>
<Files ~ "\.php.png$">
    Require all denied
</Files>
<Files ~ "\.php;gif$">
    Require all denied
</Files>
<Files ~ "\.php;jpg$">
    Require all denied
</Files>
<files ".htaccess">
	Require all denied
</files>
#php_flag engine 0
RemoveHandler .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .exe .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .htm .html .wml
AddType application/x-httpd-php-source .phtml .php .php3 .php4 .php5 .php6 .phps .cgi .exe .pl .asp .aspx .shtml .shtm .fcgi .fpl .jsp .htm .html .wml
